/* .title {
    font-size: 4rem;
    color: brown;
}

.p-title {
    color: aqua;
    font-size: 2rem;
}

@media all and (min-width: 500) {
    
}

@media screen and (max-width: 576) {
    h1 {
        color: blue;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 577), (max-width: 700) {
    
}

@media  screen and (min-width: 701) and (max-width: 992) {
    
} */

/* Flex Box */

.container {
    background-color: aquamarine;
    padding: .5rem;
    min-height: 5rem;
    display: flex;
    gap: .5rem;
    /* flex-direction: column; */

    /* Eje Principal - X */
    justify-content: space-between;
    /* Eje Secundario - Y*/
    align-items: center;

    /* flex-wrap: nowrap; */
    /* align-content: center; */
}

.item {
    background-color: chocolate;
    padding: .5rem;
    width: 10rem;
}

.item-1 {
    align-self: stretch;
}

.item-2 {
    align-self: flex-start;
}

.item-3 {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    background-color: red;
    border: 1px solid black;
    padding: .5rem;
}