h1 {
  color: brown;
}

p {
  color: blue;
  font-size: 2rem;
}

#parrafo-sub {
  color: blueviolet;
}

#parrafo-sub-1 {
  color: chartreuse;
}

.title-h2 {
  background-color: blue;
  font-weight: 700;
  font-size: 2,5rem;
  color: antiquewhite;
}

* {
  color: rebeccapurple;
  background-color: black;
}

/* =========================================================================== */

