.padre {
    background-color: brown;
    width: 400px;
    height: 400px;
}

#hijo {
    background-color: aqua;
    width: 200px;
    height: 200px;
    /* transition: transform 1s ease-in-out; */
    /* transition: transform 1s cubic-bezier(0.49, 0.07, 0, 1.01) 2s; */
}

.padre:hover #hijo {
    /* transform: translateX(100%); */
    /* transform: translateY(100%); */
    /* background-color: blueviolet; */
    animation: animacion 2s forwards;
}

@keyframes animacion {
    0% {
        background-color: bisque;
        transform: translateX(0%);
        transition: transform 1s ease-in-out
    }

    50% {
        background-color: blueviolet;
        transform: translateX(50%) translateY(50%);
    }

    100% {
        background-color: darkgreen;
        transform: translateX(100%);
        transition: transform 1s ease-in-out
    }
}

.practica-animacion {
    margin-top: 2rem;
    background-color: dimgray;
    width: 500px;
    height: 500px;
    padding: 10px;
}

.ejercicio {
    width: 250px;
    height: 240px;
    background-color: aqua;
    animation: movimiento-1 2s ease-in-out infinite forwards alternate;
}

.practica-animacion:hover .ejercicio {
    
    /* animation: movimiento-1 2s infinite alternate forwards; */
    animation-play-state: paused;
}

@keyframes movimiento-1 {
    0% {
        transform: translateX(0%) translateY(0%);
        background-color: aliceblue;
    }

    25% {
        transform: translateX(100%) translateY(0%);
        background-color: aqua;
    }

    50% {
        transform: translateX(100%) translateY(100%);
        background-color: brown;
    }

    75% {
        transform: translateX(0%) translateY(100%);
        background-color: blue;
    }

    100% {
        transform: translateX(0%) translateY(0%);
        background-color: blueviolet;
    }

}

