* {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  gap: .5rem;
  /* Eje Principal - X */
  justify-content: space-between;
    /* Eje Secundario - Y*/
  align-items: center;
}

.lateral-left {
  padding: .5rem;
}

/* .menu-items-left {
  
} */

.menus-left {
  /* display: inline-block; */
  padding: .5rem;
  margin-top: .5rem;
}

.link {
  cursor: pointer;
  border-radius: .5rem;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  background-color: darkcyan;
  border: 1px solid black;
  font-size: 1.2rem;
}

.link:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.1);
  margin-left: .5rem;
  margin-right: .5rem;
  color: rgb(114, 45, 45);
  background-color: rgb(101, 145, 145);
  box-shadow: 0 0 20px 0 #504a4a;
  border: 1px solid rgb(138, 95, 95);
}

.lateral-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.title {
  margin: 1rem;
  color: blueviolet;
  font-size: 1.6rem;
}

.pa {
  padding: .5rem;
  margin: .5rem;
  font-size: 1.2rem;
}

@media  screen and (max-width: 640px) {
  .menus-left {
    display: inline-block;
  }

  .container {
    flex-direction: column;
  }
}