.container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* background-color: black; */
}

.btn-modern {
  padding: 1rem 2.5rem;
  margin: 2rem;
  border-radius: 1rem;
  border: 1px solid rgb(246, 244, 244);
  cursor: pointer;
  background-color: rgb(130, 125, 125);
  font-size: .8rem;
  font-weight: 600;
}

.btn-modern:hover {
  transform: translateY(-5px);
  background-color: rgb(45, 39, 39);
  box-shadow: 0 0 20px 0 rgb(44, 43, 43);
  color: aliceblue;
  /* font-size: .9rem; */
  font-weight: 600;
  transition: all .4s ease-in-out;
}

/* .title-btn {

} */