* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
  margin: auto 1rem;
}

.container h1 {
  padding: .5rem;
  text-align: center;
  color: aquamarine;
  background-color: rgb(195, 175, 150);
  border: 1px solid black;
  border-radius: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-transform: capitalize;
}

.container .button::before {
  content: 'Pasa por encima';
}

.container .button {
  padding: .5rem;
  border-radius: 1rem;
  background-color: antiquewhite;
  border: 1px solid rgb(40, 215, 66);
  font-size: 1rem;
}

.container .button:hover {
  color: white;
  transform: scale(1.1);
  transition: all .4s;
  cursor: pointer;
  font-size: .9rem;
  background-color: rgb(40, 215, 66);
  border-radius: 1rem;
  border: 1px solid blue;
}

.container .button:hover.button::after {
  content: ' ¡Hecho!';
}