.btn-main, .btn-sec, .btn-sec-s, .btn-main-s {
  background-color: #0075ff;
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  border: solid 1px #0075ff;
}
.btn-main:hover, .btn-sec:hover, .btn-sec-s:hover, .btn-main-s:hover {
  color: #0075ff;
  background-color: #ffffff;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  color: #000000;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.icon-sm i {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  padding: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0075ff;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefit .icon {
  color: #0075ff;
  font-size: 7rem;
  text-align: center;
}
.benefit .decription .title {
  font-size: 1.8rem;
  text-align: center;
}
.benefit .decription .text {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-align: center;
}
.benefit .cta {
  color: #0075ff;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

.icon-decs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-decs i {
  color: #0075ff;
  font-size: 8rem;
  padding: 0;
  height: 11rem;
}
.icon-decs .title {
  color: #494141;
  font-weight: 600;
}

.header {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  border-bottom: 1px solid rgb(225, 220, 220);
  background-color: rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo a img {
  max-width: 10rem;
  padding: 0.2rem 0.4rem;
}
.header .menu .main-menu {
  margin: 0;
  padding: 0;
}
.header .menu li {
  font-size: 1rem;
  list-style: none;
  display: inline;
  margin-left: 1rem;
}
.header .menu li a {
  color: black;
  text-decoration: none;
}
.header .menu li a:hover {
  text-decoration: underline;
}
.header .get-started {
  padding: 0 0.4rem;
}

.main-body {
  width: 100%;
  max-width: 80%;
  padding-top: 5rem;
  margin: auto;
}

.sec-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-home .home-cta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sec-home .home-cta .cta-text {
  width: 30rem;
  color: #0075ff;
}
.sec-home .home-cta .cta-text i {
  font-size: 1rem;
}
.sec-home .home-cta .cta-text .home-title {
  font-weight: 400;
  font-size: 4rem;
  color: rgb(46, 43, 43);
}
.sec-home .home-cta .cta-text .home-description {
  color: rgb(46, 43, 43);
  font-weight: 300;
  font-size: 1.5rem;
}
.sec-home .home-cta .cta-text .home-actions > input {
  width: 60%;
  height: 2rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: -10px 0 10px rgb(225, 220, 220);
          box-shadow: -10px 0 10px rgb(225, 220, 220);
  border: 1px solid #98cbdb;
}
.sec-home .home-cta .cta-text .home-actions > input:focus {
  outline: none;
  border-radius: 0.6rem;
  -webkit-box-shadow: -10px 0 10px rgb(195, 188, 188);
          box-shadow: -10px 0 10px rgb(195, 188, 188);
}
.sec-home .home-cta .cta-text .home-actions > input:hover {
  outline: unset;
  border-radius: 0.6rem;
  border: 1px solid #6498a8;
}
.sec-home .home-img img {
  width: 260px;
}

.sec-features {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.sec-features .intro {
  text-align: center;
  margin-bottom: 4rem;
}
.sec-features .intro h3 {
  font-weight: 600;
  font-size: 2.2rem;
}
.sec-features .intro p {
  font-size: 1.5rem;
  color: #696969;
}
.sec-features .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec-features .features .text .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 15px;
}
.sec-features .features .text .description .title {
  font-size: 1.6rem;
}
.sec-features .features .text .description .description-text {
  font-size: 1.1rem;
}
.sec-features .features-image img {
  width: 100%;
}

.sec-benefits {
  margin-bottom: 4rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}
.sec-benefits .benefits-intro {
  text-align: center;
  margin-bottom: 2rem;
}
.sec-benefits .benefits-intro .intro-title {
  font-weight: 600;
  font-size: 2.3rem;
}
.sec-benefits .benefits-intro .intro-text {
  font-size: 1.5rem;
  color: #696969;
}
.sec-kpis {
  margin-bottom: 4rem;
  background-color: #0075ff;
  color: white;
  padding: 1rem;
}
.sec-kpis .kpi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-kpis .kpi .kpi-number {
  font-weight: 600;
  font-size: 3rem;
}
.sec-kpis .kpi .kpi-desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8039215686);
}

.sec-onboarding {
  margin-bottom: 4rem;
}
.sec-onboarding .onboarding-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
}
.sec-onboarding .onboarding-text {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #7e7c7c;
}
.sec-onboarding .onboarding-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}
.sec-onboarding .onboarding-steps .steps-separator {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 2px dotted #eee;
}

.footer {
  width: 100%;
  background-color: #F4F8F3;
  padding: 3rem 5rem;
  background-image: url("../../dist/img/bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
}
.footer .sec-footer-cta {
  width: 50%;
}
.footer .sec-footer-cta .cta-title {
  font-size: 2.3rem;
  font-weight: 600;
}
.footer .sec-footer-cta .cta-description {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .sec-onboarding .onboarding-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    background-image: none;
  }
  .footer .sec-footer-cta {
    width: 100%;
    text-align: center;
  }
}
/* Iconos -> GetBootstrap */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"); *//*# sourceMappingURL=styles-base.css.map */